<div class="menu">
    <ul id="dc_mega-menu-orange" class="dc_mm-orange">
        <li><a href="/Home/Index">Trang chủ</a></li>
        <li>
            <a href="/Product/Index">Sản phẩm</a>
            <ul>
                <li>
                    <a href="#">Sony</a>
                    <ul>
                        <li><a href="/Product/Detail">Sony 1</a></li>
                        <li><a href="/Product/Detail">Dell</a></li>
                        <li><a href="/Product/Detail">Acer</a></li>
                        <li><a href="/Product/Detail">Asus</a></li>
                        <li><a href="/Product/Detail">Macbook Pro</a></li>
                        <li><a href="/Product/Detail">Macbook Air</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Dell</a>
                    <ul>
                        <li><a href="/Product/Detail">Sony</a></li>
                        <li><a href="/Product/Detail">Dell</a></li>
                        <li><a href="/Product/Detail">Acer</a></li>
                        <li><a href="/Product/Detail">Asus</a></li>
                        <li><a href="/Product/Detail">Macbook Pro</a></li>
                        <li><a href="/Product/Detail">Macbook Air</a></li>
                    </ul>
                </li>
                <li>
                    <a href="products.html">Acer </a>
                    <ul>
                        <li><a href="preview-2.html">Product 10</a></li>
                        <li><a href="preview-5.html">Product 11</a></li>
                        <li><a href="#">Product 12</a></li>
                        <li><a href="#">Product 13</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Asus</a>
                    <ul>
                        <li><a href="#">Product 14</a></li>
                        <li><a href="#">Product 15</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Vaio</a>
                    <ul>
                        <li><a href="#">Product 16</a></li>
                        <li><a href="#">Product 17</a></li>
                        <li><a href="#">Product 18</a></li>
                        <li><a href="#">Product 19</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Macbook Pro</a>
                    <ul>
                        <li><a href="#">Product 16</a></li>
                        <li><a href="#">Product 17</a></li>
                        <li><a href="#">Product 18</a></li>
                        <li><a href="#">Product 19</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Macbook Air</a>
                    <ul>
                        <li><a href="#">Product 16</a></li>
                        <li><a href="#">Product 17</a></li>
                        <li><a href="#">Product 18</a></li>
                        <li><a href="#">Product 19</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Lenovo</a>
                    <ul>
                        <li><a href="#">Product 16</a></li>
                        <li><a href="#">Product 17</a></li>
                        <li><a href="#">Product 18</a></li>
                        <li><a href="#">Product 19</a></li>
                    </ul>
                </li>
                @*<li>
                    <a href="#">Clothing</a>
                    <ul>
                        <li><a href="#">Product 16</a></li>
                        <li><a href="#">Product 17</a></li>
                        <li><a href="#">Product 18</a></li>
                        <li><a href="#">Product 19</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Home Decor & Kitchen</a>
                    <ul>
                        <li><a href="#">Product 16</a></li>
                        <li><a href="#">Product 17</a></li>
                        <li><a href="#">Product 18</a></li>
                        <li><a href="#">Product 19</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Beauty & Healthcare</a>
                    <ul>
                        <li><a href="#">Product 16</a></li>
                        <li><a href="#">Product 17</a></li>
                        <li><a href="#">Product 18</a></li>
                        <li><a href="#">Product 19</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Toys, Kids & Babies</a>
                    <ul>
                        <li><a href="#">Product 16</a></li>
                        <li><a href="#">Product 17</a></li>
                        <li><a href="#">Product 18</a></li>
                        <li><a href="#">Product 19</a></li>
                    </ul>
                </li>*@
            </ul>
        </li>
        <li><a href="/Home/Contact">Liên hệ</a> </li>
        <div class="clear"></div>
    </ul>
</div>
