@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using WebOnlineStore.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<WebOnlineStore.Models.SANPHAM>
<div class="main">
    <div class="content">
        <div class="content_top">
            <div class="heading">
                <h3>Sản phẩm bán chạy</h3>
            </div>
            @*<div class="sort">
                    <p>
                        Sắp xếp theo:
                        <select>
                            <option>Giá ( Thấp nhất)</option>
                            <option>Giá ( Cao nhất) </option>
                        </select>
                    </p>
                </div>*@
            @*<div class="show">
                    <p>
                        Xem:
                        <select>
                            <option>4</option>
                            <option>8</option>
                            <option>12</option>
                            <option>16</option>
                            <option>20</option>
                        </select>
                    </p>
                </div>*@
            <div class="page-no">
                @Html.PagedListPager(Model, (page) => Url.Action("Index", "Home", new { keyword = ViewBag.Keyword, page = page }))
            </div>
            @*<p>
                Trang:<ul>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li>[<a href="#"> Tiếp>>></a>]</li>
                </ul>
            </p>
        </div>*@
        <div class="clear"></div>
    </div>
    <div class="section group">
        @{var i = 0;
            List<SANPHAM> list = new List<SANPHAM>();
            foreach (SANPHAM P in Model)
            {
                list.Add(P);
                i++;
                if (i % 4 == 0 || i == Model.Count())
                {
                    foreach (SANPHAM sp in list)
                    {
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="preview-3.html"><img src="/Content/images/@sp.ImgLink" alt="" /></a>
                            <h2>@sp.tensanpham </h2>
                            <p>@sp.memory</p>
                            <p><span class="price">@sp.giabd</span></p>
                            <div class="button"><span><img src="/Content/images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Đặt hàng</a></span> </div>
                            <div class="button"><span><a href="preview-3.html" class="details">Chi tiết</a></span></div>
                        </div>
                    }
                    list = new List<SANPHAM>();
                }
            }
        }
    </div>
</div>
</div>

@section _Banner
    {
    <div class="header_bottom">
        <div class="header_bottom_left">
            <div class="section group">
                <div class="listview_1_of_2 images_1_of_2">
                    <div class="listimg listimg_2_of_1">
                        <a href="preview.html"> <img src="/Content/images/pic4.png" alt="" /></a>
                    </div>
                    <div class="text list_2_of_1">
                        <h2>Lenovo</h2>
                        <p>Laptop siêu chất lượng</p>
                        <div class="button"><span><a href="preview.html">Đặt hàng</a></span></div>
                    </div>
                </div>
                <div class="listview_1_of_2 images_1_of_2">
                    <div class="listimg listimg_2_of_1">
                        <a href="preview-5.html"><img src="/Content/images/pic3.png" alt="" /></a>
                    </div>
                    <div class="text list_2_of_1">
                        <h2>Sansung</h2>
                        <p>Laptop cấu hình cao</p>
                        <div class="button"><span><a href="preview-5.html">Đặt hàng</a></span></div>
                    </div>
                </div>
            </div>
            <div class="section group">
                <div class="listview_1_of_2 images_1_of_2">
                    <div class="listimg listimg_2_of_1">
                        <a href="preview-3.html"> <img src="/Content/images/pic3.jpg" alt="" /></a>
                    </div>
                    <div class="text list_2_of_1">
                        <h2>Acer</h2>
                        <p>Laptop giá rẻ.</p>
                        <div class="button"><span><a href="preview-3.html">Đặt hàng</a></span></div>
                    </div>
                </div>
                <div class="listview_1_of_2 images_1_of_2">
                    <div class="listimg listimg_2_of_1">
                        <a href="preview-6.html"><img src="/Content/images/pic1.png" alt="" /></a>
                    </div>
                    <div class="text list_2_of_1">
                        <h2>Dell</h2>
                        <p>Laptop bền bỉ</p>
                        <div class="button"><span><a href="preview-6.html">Đặt hàng</a></span></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="header_bottom_right_images">
            <!-- FlexSlider -->

            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li><img src="/Content/images/1.jpg" alt="" /></li>
                        <li><img src="/Content/images/2.jpg" alt="" /></li>
                        <li><img src="/Content/images/3.jpg" alt="" /></li>
                        <li><img src="/Content/images/4.jpg" alt="" /></li>
                    </ul>
                </div>
            </section>
            <!-- FlexSlider -->
        </div>
        <div class="clear"></div>
    </div>
}