
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="section group">
        <div class="cont-desc span_1_of_2">
            <div class="grid images_3_of_2">
                <img src="/Content/images/preview-img.jpg" alt="" />
            </div>
            <div class="desc span_3_of_2">
                <h2>Dell </h2>
                <p>Laptop văn phòng cao cấp. Intel Core i5 5200U, RAM 8GB, SSD 120GB, màn hình 14 Inch Full HD</p>
                <div class="price">
                    <p>Giá: <span>19.000.000</span></p>
                </div>
                <div class="add-cart">
                    <div class="rating">
                        <p>Xếp hạng:<img src="/Content/images/rating.png"></p>
                    </div>
                    <div class="button"><span><a href="#">Đặt hàng</a></span></div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="product-desc">
                <h2>Thông tin chi tiết sản phẩm</h2>
                <p>TÊN SẢN PHẨM: Alienware 17 Gaming CPU Skylake</p>
                <p>✧ KHỐI LƯỢNG: 3.78 KG</p>
                <p>✧ RAM: 8GB DDR4 2133Mhz (4G * 2)</p>
                <p>✧ CARD MÀN HÌNH: NVIDIA® GeForce GTX970M 3GB GDDR5</p>
                <p>✧ HỆ ĐIỀU HÀNH: Windows 10 Pro 64 Bit</p>
                <p>✧ BỘ VI XỬ LÝ: Skylake i7-6700HQ (6MB Cache, up to 3.5GHz w/ Turbo Boost)</p>
                <p>✧ THỜI LƯỢNG PIN: 8 Cell lithium (92Wh)</p>
                <p>✧ PHỤ KIỆN ĐI KÈM: AC Adapter</p>
            </div>
            <div class=" product-tags">
                <h2>Sản phẩm tương tự</h2>
                <div class="section group">
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="preview-3.html"><img src="/Content/images/feature-pic1.png" alt="" /></a>
                        <h3>Dell Xpro N101 </h3>
                        <p><span class="price">7.000.000</span></p>
                    </div>
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="preview-3.html"><img src="/Content/images/feature-pic1.png" alt="" /></a>
                        <h3>Dell Xpro N101 </h3>
                        <p><span class="price">7.000.000</span></p>
                    </div>
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="preview-3.html"><img src="/Content/images/feature-pic1.png" alt="" /></a>
                        <h3>Dell Xpro N101 </h3>
                        <p><span class="price">7.000.000</span></p>
                    </div>
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="preview-3.html"><img src="/Content/images/feature-pic1.png" alt="" /></a>
                        <h3>Dell Xpro N101 </h3>
                        <p><span class="price">7.000.000</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="rightsidebar span_3_of_1">
            <h2>THƯƠNG HIỆU </h2>
            <ul>
                <li><a href="#">Lenovo</a></li>
                <li><a href="#">Macbook</a></li>
                <li><a href="#">Dell</a></li>
                <li><a href="#">Asus</a></li>
                <li><a href="#">Aser</a></li>
                <li><a href="#">Samsung</a></li>
                <li><a href="#">Vaio</a></li>
            </ul>
        </div>
    </div>
</div>
	</div>

